

.__connect-container{
    margin: 150px 0;
    background-color: #F0FAFE;
    padding: 3rem;
    border-radius: 10px;
 
}

.__connect-container h2{
    font-family: 'Playfair Display SC', serif;
    margin: 3rem 0;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color:rgb(80, 80, 80);
    letter-spacing: 3px;

}
.__connect-form{
    display: flex;
    flex-direction: column;
}
.__connect-form input{
    width: 60%;
    margin: 5px auto;
    padding: 7px 10px;
    border: 2px solid rgb(223, 223, 223);
   
}
#text-area{
    height: 10rem;
}

@media screen and (max-width: 768px) {
    
    .__connect-container h2{
       
    
        font-size: 1.7rem;
    
    
    }



}