.__nav-link{
    text-decoration: none;
    margin: 20px 20px;
    font-weight: 500 ;
    text-align: center;
    color: rgb(255, 255, 255) !important;
    transition: 200ms ease-in-out;
  

}
.__nav-link-btn{
    text-decoration: none !important;
    color:white !important;
    font-weight: 500 !important;
}

.__nav-link:hover{
   
    color: #73dbf5 !important;


}
.__nav-link-btn:hover{
    color: #73dbf5 !important;
}

.__header-container{
    padding: 20px 20 !important;
   
   
}
.__logo{
    font-size: 1.5rem !important;
    font-family: 'Cinzel Decorative';
    color: rgb(255, 255, 255) !important;
}
.__welcome-back{
    display: flex;
    justify-content: flex-end;
}
.__current-user-username{
    cursor: pointer;
}
.__logout-btn{
    margin: 10px 10px ;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #48cae4;
    color:white;
    border: none;

}
.__logout-btn:hover{
    background-color: #3da7bc;
}

@media  (max-width: 768px) {
    .__header-container{
        background-color: rgb(42, 42, 42);
    }
}