.__login-wrapper{
    
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 7rem;
    margin-bottom: 3rem;
  
}
.__login-form-container{
    background-color: #F0FAFE; 
    padding: 10rem !important; 
    
}
.__google-signin-btn{
    border: none;
    padding: 10px 80px;
    font-weight: 600;
    border: 1px solid rgb(216, 216, 216);
}
.__google-brand{
    width: 20px;
    margin-left: 5px;
}
.reset-pass-btn{
    padding: 1px 18px;
    border: 1px solid rgb(157, 157, 157);
    cursor: pointer;
    font-size: .9rem;
}

@media screen and (max-width: 768px) {
    .__login-wrapper{
    
        margin-top: 7rem;
        margin-bottom: 5rem;
      
    }
    .__login-form-container{
        
        padding: 0;
        width: 100% !important;
      
        
    }
    .__google-signin-btn{
        padding: 5px 50px;
        white-space: nowrap;
        font-weight: 600;
        border: 1px solid rgb(216, 216, 216);
    }
    

}
